/* src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --modal-z-index: 1000;
  --tribute-point-z-index: 200;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  @apply text-blue-600 hover:underline;
}

code {
  @apply text-pink-600;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Base btn-primary if used outside modals */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
